/* Grunnleggende til siden*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

p, h1, h2, h3 {
    line-height: 1.5;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: #eeece6;
  
}

h1 {
    color: #eeece6;
    font-size: 52px;
    font-family: 'Lora', serif;
    font-weight: 700;
    word-wrap: break-word
    }

body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #eeece6; /* body tekstfarge */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    }

#main-header {

    position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
    background-color: #0E1A1A; 
    color: #eeece6;     /* bildetekst og hamburgermeny */
    width: 100%;
    }

.logo {
flex: 1;
max-width: 250px;
}

.logo img {
  max-width: 100%;
  height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    }

.navbar {
display: flex;
align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    font-size: 16px;
    gap: 20px;
    margin-right: 40px;
    }


.navbar ul li{
    display: inline; /*ved siden av hverandre*/
    margin-right: auto;
    position: relative;
    }

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.3s;
  }

.navbar a:hover {
  background-color: rgba(174, 168, 163, 0.5); /* Transparent grå bakgrunn */
  color: #469acb
  }

.navbar a.active {
    color: #358BBC; 
    font-size: 18px;
    font-weight: bold;
    
  }

.navbar ul li:not(:last-child) a::after { /*strekene mellom menynavn */
  content: "";
  position: absolute;
  top: 50%;
  right: -10px; /* plasserer streken til høyre for lenken */
  height: 70%; /*juster høyden etter behov*/
  border-right: 1px solid #ffffff;
  transform: translateY(-50%); /* Sentrer vertikalt */
  }


.showcase {
     /*line-height: 0; */
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.showcase img {
  max-width: 100%;
  height: auto;
  display: block;
  
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 26, 26, 0.8); /* gjennomskinnelig svart*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .overlay h2 {
    color: #956242;
    font-size: 2rem;
    margin: 0;
    margin-top: -100px;
  }
  
  .overlay p {
    font-size: 18px;
    margin: 10px 0 0;
  }

.email {
  color: #358BBC;
}

main {

    flex: 1; /*main tar opp all tilgjengelig plass, flytter footeren som kommer etter helt ned på siden når innholdet er mindre enn skjermen */
    padding: 0px; /*luft mellom innholdet og kanten på innholdet */
    background-color: #0E1A1A;
    text-align: center;
}

.produktkategorier a {
  color: inherit;
  text-decoration: none;
}


footer {
    padding: 15px;
font-size: xx-small;
margin: 0;
width: 100%;
box-sizing: border-box;
background-color: #0E1A1A;
text-align: center;

}

#main-footer p {
  font-size: 10px;
  padding: 10px;
}





    /* Grunnleggende stil for produktene */
    .product-container {
      background-color: #956242;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
    }
    
    .product-box {
      background-color: rgba(14, 26, 26, 0.9); /* Gjennomskinnelig mørk som headerbakgrunn */
      border: 1px solid #132323;
      border-radius: 8px;
      width: 23%; /* Juster denne verdien for å få fire bokser i bredden */
      margin: 10px;
      padding: 10px;
      text-align: center;
      transition: transform 0.2s;
    }
    
    .product-box img {
      max-width: 100%;
      height: auto;
      border-bottom: 1px solid #358BBC;
      padding-bottom: 10px;
    }
    
    .product-box p {
      margin-top: 10px;
      font-size: 1rem;
    }
    
    .product-box:hover {
      transform: scale(1.05); /* Litt zoom-effekt ved hover */
    }

/* Overlay som dekker hele skjermen */


#product-overlay {
  display: none; /* Skjul overlay som standard */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.overlay-varer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.overlay-content {
  position: relative;
  margin: 5% auto;
  background-color: #956242;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 700px;
  width: 80%;
}

.overlay-main-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.overlay-thumbnails {
  display: flex;
  justify-content: space-between;
}

.overlay-thumbnails .thumbnail {
  width: 30%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.thumbnail.active {
  border: 2px solid #000000; /* Fremhever valgt miniatyrbilde */
}

.overlay-content p {
  font-size: 16px;
  margin-bottom: 15px;
}

.overlay-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  
}

.hidden {
  display: none; /*Skjuler thumbnail bildene son er satt til none i javascript*/
}

/* mobilvisning */

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #358BBC;
  width: 150px;
  padding: 20px;
  border-bottom-left-radius: 20px; /* mykt hjørne nede venstre på menyen*/
  z-index: 1;
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
  
}
.mobile-menu li {
  margin-bottom: 10px;
}

.mobile-menu a {
  
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.mobile-menu a:hover,
.mobile-menu a:focus,
.mobile-menu a:active {
  text-decoration: underline;
}

@media (max-width: 1060px) {
  h1 {
    font-size: 36px;
    padding: 80px;
  }
}

    @media (max-width: 870px) {
        margin: 0;

        .gallery {
            grid-template-columns: 
            width: 100%; /* En boks per rad */
              margin: 10px 0;
              /*repeat(auto-fit, minmax(100px, 1fr));*/
      
        }
      
        .lightbox-content {
            max-width: 90%;
            max-height: 70%;
        }
      
        #caption {
            font-size: 14px;
        }
      
        .logo img {
          max-width: 70%;
          height: auto;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-left: 20px;
          }

        .navbar {
          display: none;
          
        }
      
        .hamburger {
          display: block; /* vis hamburgerikonet på mobil*/
        }


        .mobile-menu.show {
          display: block; /* vis mobilmeny når den er aktivert*/
          
        }

        #main-header {
          height: 200px;  
        }
        
/*
        .om-side .showcase img,
        .kontakt-side .showcase img {
          display: none;
          }
        
        .om-side .overlay,
        .kontakt-side .overlay {
          background-color: #956242;
          height: 600px;
        }
        
        .om-side .showcase,
        .kontakt-side .showcase {
          background-color: transparent;
        }
*/
        #forsidebilde {
          width: auto;
        }  

        h1 {
          font-size: 28px;
          padding: 40px;
        }
        p {
          font-size: 20px;
        }

    
        .product-box {
          width: 100%; /* En boks per rad */
          margin: 10px 0;
      }
      
      .overlay h2 {
        color: #358BBC;
        font-size: 24px;
      }

      
      .email {
        color: #956242;
      }

        footer {
          padding-top: 15px;
          padding-bottom: 15px;
        }
        
        footer p {
          font-size: 0.5rem;
          padding: 5px;
        }
      }
      

